h1 {
	font-family: Arial, Helvetica, sans-serif;
}
#genrand {
	font-family: Arial, Helvetica, sans-serif;
}
#showrand {
	font-family: Arial, Helvetica, sans-serif;
}
#showcoded {
	font-family: Arial, Helvetica, sans-serif;
}